@import url('./reset.css');
@import url('./timer.css');
html,
body {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px; */
  margin: 0 auto;
  margin-top: 30px;
  padding: 0 15px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.index-link {
  max-width: 400px;
  width: 100%;
  padding: 25px 100px;
  font-size: 48px;
  font-weight: 600;
  background-color: rgb(34, 34, 34);
  color: #dadada;
  text-align: center;
  border-radius: 10px;
  transition: all 250ms;
}
.index-link:hover {
  background-color: rgb(255, 255, 255);
  color: #1b1b1b;
  outline: 1px solid #1b1b1b;
}
.back-btn {
  max-width: 150px;
  width: 100%;
  padding: 18px 40px;
  font-size: 30px;
  font-weight: 600;
  background-color: rgb(34, 34, 34);
  color: #dadada;
  text-align: center;
  border-radius: 10px;
  transition: all 250ms;
}
.back-btn:hover {
  background-color: rgb(255, 255, 255);
  color: #1b1b1b;
  outline: 1px solid #1b1b1b;
}
