.wrapper-timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
button[data-start] {
  /* width: 100%; */
  padding: 18px 40px;
  font-size: 24px;
  font-weight: 600;
  background-color: rgb(34, 34, 34);
  color: #dadada;
  text-align: center;
  border-radius: 10px;
  transition: all 250ms;
  display: inline-block;
}
button[data-start]:hover {
  background-color: rgb(255, 255, 255);
  color: #1b1b1b;
  outline: 1px solid #1b1b1b;
}
.back-btn {
  align-self: start;
}
.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
#datetime-picker {
  display: inline-block;
  padding: 20px;
  font-size: 22px;
  border-radius: 10px;
  background-color: aliceblue;
}
.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-size: 22px;
}
.value {
  padding: 10px;
  background-color: aliceblue;
  border-radius: 10px;
  width: 100%;
  text-align: center;
}
.label {
  font-weight: 600;
}
